<div class="section">
  <h3>Add New Ride</h3>
  <div [formGroup]="rideForm" class="flex-display">
    <div class="form-group width-33">
      <span class="label">Employee ID</span>
      <input type="text" class="form-control" formControlName="employeeId">
    </div>

    <div class="form-group width-33">
      <span class="label">Vehicle Type</span>
      <select formControlName="vehicleType" class="form-control">
        <option *ngFor="let type of VEHICLE_TYPE" [value]="type">{{type}}</option>
      </select>
    </div>

    <div class="form-group width-33">
      <span class="label">Vehicle No</span>
      <input type="text" class="form-control" formControlName="vehicleNo">
    </div>

    <div class="form-group width-33">
      <span class="label">Vacant Seats</span>
      <input type="number" class="form-control" formControlName="vacantSeats">
    </div>

    <div class="form-group width-33">
      <span class="label">Time</span>
      <input type="time" class="form-control" formControlName="time" value="13:30">
    </div>


    <div class="form-group width-33">
      <span class="label">Pickup Point</span>
      <input type="text" class="form-control" formControlName="pickupPoint">
    </div>

    <div class="form-group width-33">
      <span class="label">Destination</span>
      <input type="text" class="form-control" formControlName="destination">
    </div>

  </div>
  <button class="btn primary-bg" (click)="addRide()" [disabled]="rideForm.invalid"> ADD RIDE </button>
</div>
